

 
<div ng-controller="PessoaEditarController">
<div class="col-xs-12" ng-repeat="erro in listaErros">
	<div class="alert alert-danger">
	  <strong>{{erro}}</strong>
	</div>
</div>
</br>
</br>
<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Nome</label>
  <div class="col-sm-5">
    <input type="text" ng-model="cliente.nome" required ng-required="{ boolean }" class="form-control" id="nome" placeholder="Nome"/>
  </div>
</div>
<div class="form-group">
  <label for="year" class="col-sm-2 control-label">E-mail</label>
  <div class="col-sm-5">
    <input type="text" ng-model="cliente.usuario.login" class="form-control" id="preco" placeholder="E-mail"/>
  </div>
</div> 


<div class="container">
  
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Enderecos</a></li>
  
  </ul>
  <br>
   
		    <div class="col-md-12">
		    	<table class="table">
				    	
			        <tr>
			            <th>Logradouro</th>
			            <th>Numero</th>
			            <th>Complemento</th>
			            <th>CEP</th>
			            <th>Bairro</th>
			            <th>Cidade</th>
			            <th>Estado</th>
			            <th></th>
			        </tr>
		    		<tr ng-repeat="endereco in enderecos">
	 	    			<td>
		    				{{endereco.logradouro}} 
		    			</td>
	 	    			<td>
		    				 {{endereco.numero}}
		    			</td>
	 	    			<td>
		    				{{endereco.complemento}}
		    			</td>
	 	    			<td>
		    				{{endereco.cep}}
		    			</td>
	 	    			<td>
		    				{{endereco.bairro}}
		    			</td>
	 	    			<td>
		    				{{endereco.cidade}} 
		    			</td>
	 	    			<td>
		    				{{endereco.estado}}
		    			</td>
		    			<td><a class="btn btn-danger"  ng-click="editarEndereco(endereco)">Editar</a></td>
		    		</tr>
		    	</table>
		    </div>
		    <div ng-show="cadastrarNovoEndereco">
				<div class="col-md-3">
					<label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
					<input type="text" ng-model="enderecoNovo.logradouro" class="form-control" id="logradouro" placeholder="Logradouro"/>
				</div>
				<div class="col-md-3">
					<label for="numero" class="col-sm-2 control-label">Numero</label>
					<input type="text" ng-model="enderecoNovo.numero" class="form-control" id="numero" placeholder="Numero"/>
				</div>
				<div class="col-md-3">
					<label for="numero" class="col-sm-2 control-label">Complemento</label>
					<input type="text" ng-model="enderecoNovo.complemento" class="form-control" id="complemento" placeholder="Complemento"/>
				</div>
				<div class="col-md-3">
					<label for="cep" class="col-sm-2 control-label">CEP</label>
					<input type="text" ng-model="enderecoNovo.cep" class="form-control" id="cep" placeholder="CEP"/>
				</div>
 
				<div class="col-md-3">
					<label for="cep" class="col-sm-2 control-label">Bairro</label>
					<input type="text" ng-model="enderecoNovo.bairro" class="form-control" id="bairro" placeholder="Bairro"/>
				</div>
				<div class="col-md-3">
					<label for="bairro" class="col-sm-2 control-label">Cidade</label>
					<input type="text" ng-model="enderecoNovo.cidade" class="form-control" id="bairro" placeholder="Cidade"/>
				</div>
				<div class="col-sm-1">
					<label for="bairro" class="col-sm-2 control-label">Estado</label>
					<input type="text" ng-model="enderecoNovo.estado" class="form-control" id="estado" placeholder="Estado" maxlength="2"/>
				</div>
				<div class="col-xs-12 text-right">
					<button class="btn btn-primary" type="button" ng-click="cadastrarEndereco()">Salvar</button>
					<button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
				</div>
	    	</div>
	    	<div class="col-md-12" ng-show="!cadastrarNovoEndereco">
    			<button type="button" class="btn btn-primary" ng-click="novoEndereco()">Novo Endereço</button>
		    </div>
		    
		    
	<div class="form-group">
	  <div class="col-sm-offset-0 col-sm-10">
	    <input type="button"  ng-click="salvar()"  class="btn btn-primary" value="salvar"/>
	  </div>
	</div>
</div>   
  
</div>
 

 </div>
 

