
<div class="shop-banner-details">
    <div class="container">
        <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-8 shoppingtxt">
               <h1 class="shopping-topsub-title">Pedido</h1>
              </div>
          </div>
    </div> 
</div>
<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Pedido</li>
                </ol>
            </div>
        </div>
      </div>
</div>

<div class="col-xs-12" ng-repeat="erro in listaErros">
	<div class="alert alert-danger">
	  <strong>{{erro}}</strong>
	</div>
</div>

<div id="pedido" class="container">
	<form id="formPedido" ng-submit="confirmarPedido()">
	    <div class="row">
	    	<div class="col-lg-12 text-center">
                <h2>Escolha o endereço de entrega</h2>
            </div>
		    <div class="col-md-12">
				<div class="radio" ng-repeat="endereco in enderecosUsuario">
				  <label><input type="radio" ng-model="pedido.enderecoEntrega" ng-value="endereco" name="optradio">{{endereco.logradouro}}, {{endereco.cidade}}, {{endereco.estado}}, {{endereco.numero}} - {{endereco.cep}}</label>
				</div>
		    </div>
	    </div>
	    <div class="row">
	    	<div class="col-lg-12 text-center">
                <h2>Cadastre um novo endereço de entrega</h2>
            </div>
		    <div ng-show="cadastrarNovoEndereco">
		    	<div class="row">
					<div class="col-md-3">
						<label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
						<input type="text" ng-model="novoEndereco.logradouro" class="form-control" id="logradouro" placeholder="Logradouro"/>
					</div>
					<div class="col-md-3">
						<label for="cidade" class="col-sm-2 control-label">Cidade</label>
						<input type="text" ng-model="novoEndereco.cidade" class="form-control" id="cidade" placeholder="Cidade"/>
					</div>
					<div class="col-md-2">
						<label for="estado" class="col-sm-2 control-label">Estado</label>
						<input type="text" ng-model="novoEndereco.estado" class="form-control" mask='ww' id="estado" placeholder="Estado"/>
					</div>
					<div class="col-md-2">
						<label for="numero" class="col-sm-2 control-label">Numero</label>
						<input type="text" ng-model="novoEndereco.numero" class="form-control" id="numero" placeholder="Numero"/>
					</div>
					<div class="col-md-2">
						<label for="cep" class="col-sm-2 control-label">CEP</label>
						<input type="text" ng-model="novoEndereco.cep" class="form-control" mask='ddddd-ddd' id="cep" placeholder="CEP"/>
					</div>
		    	</div>
		    	<div class="row margin-top-05">
					<div class="col-xs-12 text-right">
						<button class="btn btn-primary" type="button" ng-click="cadastrarEndereco()">Salvar</button>
						<button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
					</div>
		    	</div>
	    	</div>
	    	<div class="col-md-12" ng-show="!cadastrarNovoEndereco">
    			<button type="button" class="btn btn-primary" ng-click="novo()">Novo Endereço</button>
		    </div>
		</div>
	    <div class="row">
	        <div class="col-md-12">
	            <!-- items -->
	            <table class="table tab-shop">
	                <!-- header -->
	                <tr class="tab-top-txt">
	                    <td><p>Produto</p></td>
	                    <td class="tdCenter"><p>Quantidade</p></td>
	                    <td class="tdRight"><p>Preço</p></td>
	                    <td />
	                </tr>	
	                <!-- cart items -->
	                <tr ng-repeat="produto in carrinho.produtos | orderBy:'name'">
	                    <td class="cart-column-img">
		                    <div class="cart-prod-img">
			                    <img style="width:150px" ng-show="possuiFoto(produto)" ng-src="data:image/png;base64,{{produto.foto}}" alt="{{produto.nome}}" />
	                        
	                        	<img style="width:150px" ng-show="!possuiFoto(produto)" src="images/store/product/notFound.gif">
	                        	<p>{{produto.nome}}</p>
		                    </div>
	                    </td>
	                    <td class="cart-quantity">
	                        {{produto.quantidade}}
	                    </td>
	                    <td class="tdRight">{{produto.preco * produto.quantidade | currency : "$"}}</td>
	                    <td class="ic-remove" title="remove from cart">
	                        <a href="" ng-click="carrinho.addItem(produto.idProduto, produto.nome, produto.foto, produto.preco, -10000000)" >
	                            <i class="fa fa-times"></i>
	                        </a>
	                    </td>
	                </tr>
	
	                <!-- footer -->
	                <tr class="cart-total">
	                    <td><p>Total</p></td>
	                    <td class="tdCenter"><p>{{carrinho.getQuantidadeTotal()}}</p></td>
	                    <td class="tdRight"><p>{{carrinho.getValorTotal() | currency : "$"}}</p></td>
	                    <td />
	                </tr>
	
	                <tr>
	                 <td colspan="4" class="btn-checkout-prod">
	                   <div class="btn-payment">
    						<input type="submit" class="btn btn-lg btn-primary checkout" value="Confirmar Pedido"/>
	                    </div>
	                </td>
	                </tr>
	            </table>
	        </div>
	    </div>
	</form>
</div>