
<div class="shop-banner-details">
    <div class="container">
        <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-8 shoppingtxt">
               <h1 class="shopping-topsub-title">Pedido</h1>
              </div>
          </div>
    </div> 
</div>
<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Pedido</li>
                </ol>
            </div>
        </div>
      </div>
</div>

<div class="col-xs-12" ng-repeat="erro in listaErros">
	<div class="alert alert-danger">
	  <strong>{{erro}}</strong>
	</div>
</div>

<div id="pedido" class="container">
    <div class="row">
    	<div class="col-lg-12 text-center">
               <h1>Meus Pedidos</h1>
        </div>
	    <div class="col-md-12">
	    	<table class="table table-striped table-hover table-bordered">
	    		<thead>
	    			<tr>
	    				<th>Pedido</th>
	    				<th>Endereço</th>
	    				<th>Situação</th>
	    				<th>Valor Total</th>
	    				<th></th>
	    			</tr>
	    		</thead>
	    		<tbody>
		    		<tr ng-repeat="pedido in meusPedidos">
              			<td>
              				<a ui-sref="visualizarPedido({codigoPedido:pedido.idPedido})">
		    				{{pedido.idPedido}}
		    				</a>
		    			</td>
		    			<td>
		    				{{pedido.enderecoEntrega.logradouro}}, {{pedido.enderecoEntrega.numero}}, {{pedido.enderecoEntrega.estado}}, {{pedido.enderecoEntrega.cidade}} - {{pedido.enderecoEntrega.cep}}
		    			</td>
		    			<td>
		    				{{pedido.situacao}}
		    			</td>
		    			<td>
		    				{{pedido.valorTotal | currency: 'R$'}}
		    			</td>
		    			<td>
		    				<a class="btn btn-primary" ng-disabled="validaCancelamentoPedido(pedido)" ng-click="cancelarPedido(pedido)">Cancelar</a>
		    			</td>
		    		</tr>
	    		</tbody>
	    	</table>
	    </div>
    </div>
</div>
