<div class="shop-banner-details">
    <div class="container">
        <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-8 shoppingtxt">
               <h1 class="shopping-topsub-title">Pedido</h1>
              </div>
          </div>
    </div> 
</div>
<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Pedido</li>
                </ol>
            </div>
        </div>
      </div>
</div>

<div class="col-xs-12" ng-repeat="erro in listaErros">
	<div class="alert alert-danger">
	  <strong>{{erro}}</strong>
	</div>
</div>

<div id="pedido" class="container">
	    <div class="row">
	    	<div class="col-lg-12 text-center">
                <h2>Pedido: {{pedido.idPedido}}. Situação: {{pedido.situacao}}</h2>
            </div>
	    	<div class="col-lg-12 text-center">
                <h3>Endereço de Entrega</h3>
            </div>
		    <div class="col-md-3">
				<label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
				<input type="text" ng-model="pedido.enderecoEntrega.logradouro" disabled="disabled" class="form-control" id="logradouro" placeholder="Logradouro"/>
			</div>
			<div class="col-md-3">
				<label for="cidade" class="col-sm-2 control-label">Cidade</label>
				<input type="text" ng-model="pedido.enderecoEntrega.cidade" disabled="disabled" class="form-control" id="cidade" placeholder="Cidade"/>
			</div>
			<div class="col-md-2">
				<label for="estado" class="col-sm-2 control-label">Estado</label>
				<input type="text" ng-model="pedido.enderecoEntrega.estado"  disabled="disabled" class="form-control" mask='ww' id="estado" placeholder="Estado"/>
			</div>
			<div class="col-md-2">
				<label for="numero" class="col-sm-2 control-label">Numero</label>
				<input type="text" ng-model="pedido.enderecoEntrega.numero" disabled="disabled" class="form-control" id="numero" placeholder="Numero"/>
			</div>
			<div class="col-md-2">
				<label for="cep" class="col-sm-2 control-label">CEP</label>
				<input type="text" ng-model="pedido.enderecoEntrega.cep" disabled="disabled" class="form-control" mask='ddddd-ddd' id="cep" placeholder="CEP"/>
			</div>
	    </div>
	    <div class="row margin-top-10">
	    	<div class="col-lg-12 text-center">
                <h3>Produtos</h3>
            </div>
	        <div class="col-md-12">
	            <!-- items -->
	            <table class="table tab-shop">
	                <!-- header -->
	                <tr class="tab-top-txt">
	                    <td><p>Produto</p></td>
	                    <td class="tdCenter"><p>Quantidade</p></td>
	                    <td class="tdRight"><p>Preço</p></td>
	                </tr>
	                <tr ng-repeat="produto in pedido.pedidoProdutos | orderBy:'nome'">
	                    <td class="cart-column-img">
		                    <div class="cart-prod-img">
			                    <img style="width:150px" ng-show="possuiFoto(produto)" ng-src="data:image/png;base64,{{produto.foto}}" alt="{{produto.nome}}" />
	                        
	                        	<img style="width:150px" ng-show="!possuiFoto(produto)" src="images/store/product/notFound.gif">
	                        	<p>{{produto.nome}}</p>
		                    </div>
	                    </td>
	                    <td class="cart-quantity">
	                        {{produto.quantidade}}
	                    </td>
	                    <td class="tdRight">{{produto.valor * produto.quantidade | currency : "$"}}</td>
	                </tr>
	             
	                <tr>
	                 <td colspan="4" class="btn-checkout-prod">
	                   <div class="btn-payment">
						   <a ui-sref="pedidosCliente" class="btn btn-primary btn-lg">Voltar</a>
	                   </div>
	                </td>
	                </tr>
	            </table>
	        </div>
	    </div>
</div>
