
<div class="shop-banner-details">
    <div class="container">
        <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-8 shoppingtxt">
               <h1 class="shopping-topsub-title">Carrinho de Compras</h1>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 shoppingpack">
                <img src="images/shoppingpack.png" alt="" />
              </div>
          </div>
    </div> 
</div>
<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Carinho</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div id="cart" class="container">
    <div class="row">
     <div class="col-md-12">
        <div id="cart-prod-top" class="prod-top-img span12">
         <div class="cart-txt-shop">
         <p class="text-info">
                Obrigado pela Preferencia!.<br />
                Este é seu carrinho de compras, você pode alterar a quantidade, limpar o carrinho, comprar mais ou prosseguir para o pagamento
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    	<div class="col-xs-12" ng-repeat="erro in listaErros">
			<div class="alert alert-danger">
			  <strong>{{erro}}</strong>
			</div>
		</div>
    </div>
    <div class="row content-backcolor">
        <div class="col-md-12">
        <div class="content-table-cart">
            <table class="table tab-shop">
                 <p class="total-items">Você tem {{carrinho.getQuantidadeTotal()}} Itens no seu carrinho</p>
                 <div class="bt-tourn-back"><a href="#/shop">
                    <i class="fa fa-power-off"></i> Voltar para a loja</a></div>
                <!-- header -->
                <tr class="tab-top-txt">
                    <td><p>Produto</p></td>
                    <td class="tdCenter"><p>Quantidade</p></td>
                    <td class="tdRight"><p>Preço</p></td>
                    <td />
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="carrinho.getQuantidadeTotal() > 0" >
                    <td class="tdCenter" colspan="4">
                        Seu Carrinho esta vazio.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="produto in carrinho.produtos | orderBy:'name'">
                    <td class="cart-column-img">
                    <div class="cart-prod-img">
                        <img style="width:150px" ng-show="possuiFoto(produto)" ng-src="data:image/png;base64,{{produto.foto}}" alt="{{produto.nome}}" />
                        
                        <img style="width:150px" ng-show="!possuiFoto(produto)" src="images/store/product/notFound.gif">
                        <p>{{produto.nome}}</p>
                    </div>
                    </td>
                    <td class="cart-quantity">
                      <div class="input-append">
                        <!-- use type=tel instead of  to prevent spinners -->
                        <input 
                            class="btn bt-minus-prod" type="button" 
                            ng-disabled="produto.quantidade <= 1"
                            ng-click="carrinho.adicionarProduto(produto.idProduto, produto.nome, produto.foto, produto.preco, -1)" value="-">
                        <input
                            class="text-center quantity-prod"
                            ng-model="produto.quantidade" 
                            ng-change="carrinho.salvarProdutos()" />
                        <input 
                            class="btn btn-lg btn-primary bt-plus-prod" type="button" 
                            ng-disabled="produto.quantity >= 1000"
                            ng-click="carrinho.adicionarProduto(produto.idProduto, produto.nome, produto.foto, produto.preco, +1)" value="+">
                        
                      </div>
                    </td>
                    <td class="tdRight">{{produto.preco * produto.quantidade | currency : "$"}}</td>
                    <td class="ic-remove" title="Remover do Carrinho">
                        <a href="" ng-click="carrinho.adicionarProduto(produto.idProduto, produto.nome, produto.foto, produto.preco, -10000000)" >
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>

                <!-- footer -->
                <tr class="cart-total">
                    <td><p>Total</p></td>
                    <td class="tdCenter"><p>{{carrinho.getQuantidadeTotal()}}</p></td>
                    <td class="tdRight"><p>{{carrinho.getValorTotal() | currency : "$"}}</p></td>
                    <td />
                </tr>

                <tr>
                 <td colspan="4" class="btn-checkout-prod">
                      <button 
                        class="btn btn-lg btn-primary cart-clear-all" 
                        ng-click="carrinho.esvaziarCarrinho()" 
                        ng-disabled="carrinho.getQuantidadeTotal() < 1" >
                        <i class="icon-trash icon-white" /> Limpar o Carrinho
                     </button>
                   <div class="btn-payment">
                        <button
                            class="btn btn-lg btn-primary checkout"
                            ui-sref="pedido"
                            ng-disabled="carrinho.getQuantidadeTotal() < 1">
                            <i class="icon-ok icon-white" /> Prosseguir com a Solicitação
                        </button>
                    </div>
                </td>
                </tr>
            </table>
            </div>
        </div>
        

    </div>
</div>
