

<div class="shop-banner-details">
    <div class="container">
      <div class="col-lg-12">
       <h1 class="product-topsub-title">Detalhes do<span class="color-txt"> Produto</span></h1>
      </div>
    </div> 
</div>
<div class="breadcrumb-color meet-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li>
                        <a href="#/shop">Produtos</a>
                    </li>
                    <li class="active">Detalhes</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div id="product_sound" class="container">
      <div class="row">
        <div id="single-prod-top" class="prod-top-img col-md-12">
         <div class="col-md-4 pp-cont-det">
              <div class="details-single-img">
              	<img ng-src="data:image/png;base64,{{product.foto}}" alt="{{product.nome}}" />
              </div>
              <span class="number-prodsingle-cart" ng-show="Carrinho.getQuantidadeTotal(product.code) > 0">N&#176; {{Carrinho.getQuantidadeTotal(product.code)}}</span>
              <span class="onsale-prod" ng-show='product.discount != null'>
                    <span>{{product.discount}}</span>
                </span>
          </div>
          <div class="col-md-8 det-info-prod">
             <div class="single-prod-info">
                 <div class="det-sound">
                     <span class="product-name-title">{{product.nome}}</span>
                     <a class="subtitle" href=""> ( {{product.category}} )  </a>
                </div>
                <p class="shop-price"> {{product.preco | currency : "$"}} </p>
             </div>
             <div class="single-prod-description">
               {{product.descricao}}
             </div>
             <div class="single-prod-button">
                 <button 
                    class="btn btn-lg btn-primary" 
                    ng-click="Carrinho.adicionarProduto(product.code, product.name, product.src, product.price, 1)">
                    <i class="icon-shopping-cart icon-white" /> Adicionar ao Carrinho
                </button>
                <button 
                    class="btn btn-lg btn-primary" 
                    ng-click="Carrinho.adicionarProduto(product.code, product.name, product.src, product.price, -10000)"
                    ng-disabled="Carrinho.getQuantidadeTotal(product.code) < 1">
                    <i class="icon-trash icon-white" /> Remover do carinho
                </button>
                <button 
                    class="btn btn-lg btn-primary bt-back" 
                    onclick="window.location.href='#/produtos'">
                    <i class="icon-chevron-left" /> Voltar a Loja
                </button>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="clear"></div>
