
<div class="container" >
	<div class="col-xs-6" ng-controller="ClienteController" >
	 <h2 class="form-signin-heading">Cadastre-se</h2>
	 
	      <h3>Cadastre-se</h3>
	      <form class="form-signin" name="cadastrarForm" ng-submit="cadastrar()">	        	
	        	<input type="text" id="inputNome" name="inputNome" class="form-control campos" ng-model="pessoa.nome" placeholder="Nome" required="" autofocus="">
	        	
	        	<input type="email" id="inputEmail" name="inputEmail" class="form-control campos" ng-model="pessoa.usuario.login" placeholder="E-mail" required="" autofocus="">
	        	
	        	<input type="password" id="inputSenha" name="inputSenha"  class="form-control campos" ng-model="pessoa.usuario.senha" placeholder="Senha" ng-required >
	        	
	        	<input type="password" id="inputConfirmarSenha" name="inputConfirmarSenha" class="form-control campos"  ng-model="inputConfirmarSenha" placeholder="Confirmar Senha" required  compare-to="pessoa.usuario.senha" >
  
	        	<button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
	      </form>
	</div>
	<div class="col-xs-6" ng-controller="LoginController" >
		<h2 class="form-signin-heading">Login</h2>
		<div ng-repeat="mensagens in message">
			<div class="alert alert-danger">
	  			<strong>{{mensagens}}</strong>
	  		</div>
		</div>
	    <form class="form-signin" ng-submit="login()">
	        
	      		<h3>Login</h3>
	        	<label for="inputUsuario" class="sr-only">Usuario</label>
	        	<input type="email" id="inputUsuario" class="form-control" ng-model="usuario" placeholder="Email address" required="" autofocus="">
				<div class="col-xs-12" style="height:10px;"/>
	        	<label for="inputPassword" class="sr-only">Senha</label>	        	
	        	<input type="password" id="inputPassword" class="form-control" ng-model="senha" placeholder="Password" required="">
		        <div class="checkbox">
		          <label>
		            <input type="checkbox" value="remember-me"> Me Lembrar
		          </label>
		        </div>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	    </form>
	      <div class="alert alert-danger" role="alert" ng-show="error.data.message">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  <span class="sr-only">Error:</span>
			  {{error.data.message}}
		</div>
	</div>
</div>