<div class="about-top-img">
  <div class="effect-over"></div>
    <div class="container">
      <div class="col-lg-12">
       <div class="about-content-icon"><span class="icon-browser"></span></div>
       <h1 class="about-top-title">It's <span class="color-txt">Nice</span> to Meet <span class="color-txt">You</span>!</h1>
      </div>
    </div> 
</div>
<div class="breadcrumb-color meet-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Quem Somos</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div class="container">

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Nossa Equipe</h2>
        </div>

        <div class="col-sm-4 meet-team">
            <img class="img-responsive" src="images/team/team1.jpg" alt=""/>

            <h3>Paulo Porto</h3>
            <p>Desenvolvedor</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fa fa-facebook"></i>
                     </a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                             <i class="fa fa-twitter"></i>
                     </a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Google+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4 meet-team">
            <img class="img-responsive" src="images/team/team2.jpg" alt=""/>

            <h3>Cristiano Moraes</h3>
            <p>Desenvolvedor / Papai</p>
            <ul class="list-unstyled list-inline list-social-icons">
                 <li class="tooltip-social facebook-link">
                    <a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fa fa-facebook"></i>
                     </a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">
                             <i class="fa fa-twitter"></i>
                     </a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4 meet-team">
            <img class="img-responsive" src="images/team/team3.jpg" alt=""/>

            <h3>Alan Henrique</h3>
            <p>Desenvolvedor / Nerd</p>
            <ul class="list-unstyled list-inline list-social-icons">
                 <li class="tooltip-social facebook-link">
                    <a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fa fa-facebook"></i>
                     </a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">
                             <i class="fa fa-twitter"></i>
                     </a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4 meet-team">
            <img class="img-responsive" src="images/team/team4.jpg" alt=""/>

            <h3>Tiago Luis</h3>
            <p>Desenvolvedor</p>
            <ul class="list-unstyled list-inline list-social-icons">
                 <li class="tooltip-social facebook-link">
                    <a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fa fa-facebook"></i>
                     </a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">
                             <i class="fa fa-twitter"></i>
                     </a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>
<!-- /.container -->
