<div class="shop-slide-img_sound">
  <div class="effect-over"></div>
    <div class="container">
      <div class="col-lg-12">
       <!--<div class="about-content-icon"><span class="icon-browser"></span></div>-->
       <h1 class="shopping-topsub-title">Conheça Nossos Produtos</h1>
       <h1 class="shopping-top-title">Até <span class="color-txt">50%</span> de descontos</h1>
      </div>
    </div> 
</div>
<div class="breadcrumb-color meet-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Produtos</li>
                </ol>
            </div>
        </div>
      </div>
</div>

<div class="container" ng-controller="produtosController">

    
        <div class="col-lg-12 text-center shop-title-store">
                <h1 class="section-title">Nossos <span>Produtos</span></h1>
                <p class="sub-title">Confira os produtos disponiveis <br>em nossa loja</p>
            </div>
       <div class="row">
	    	<div class="col-xs-12" ng-repeat="erro in listaErros">
				<div class="alert alert-danger">
				  <strong>{{erro}}</strong>
				</div>
			</div>
	    </div>
        <div class="col-lg-12">
          <div class="content-store">
                <!--Filter Animation Product-->
                <ul class="filter group albumFilter"> 
			        <li ng-click="filtroCategoria('categoria', null)">TODOS</li> 
		        </ul>
                <div class="group filter-button-top">
			        <ul class="filter group albumFilter" ng-repeat="categoria in categorias"> 
				        <li ng-click="filtroCategoria('categoria', categoria)">{{categoria}}</li> 
			        </ul> 
	            </div>
                
                    <div class="content-search">
                           <input type="text" ng-model="query" ng-change="pesquisa('nome')" class="search-query" placeholder="Search">
                        </div>
                </div>
        </div>
            <!--List Product-->
            <div id="cbp-vm" class="shop-prod">
                        <ul id="product" class="nav-pills nav-stacked rectangle-list">
                            <li class="col-md-4 my-shop-animation" ng-repeat="product in pagedItems" >
                                <div class="shop-img {{product.class}}">
                                    <img style="width:150px; height: 150px" ng-show="possuiFoto(product)" ng-src="data:image/png;base64,{{product.foto}}" alt="{{product.nome}}" />
                                    <img style="width:150px; height: 150px" ng-show="!possuiFoto(product)" src="images/store/product/notFound.gif">                                    
                                </div>
                                <span class="number-prodsingle-cart" ng-show="carrinho.getQuantidadeTotal(product.idProduto) > 0">N&#176; {{carrinho.getQuantidadeTotal(product.idProduto)}}</span>
                                <!--Triangle Sale-->
                                <span class="onsale-prod" ng-show='product.destaque'>
                                    <span>Com Descontos!</span>
                                </span>
                                <!--End-->
                                <div class="col-lg-12 col-md-12 bt12-detail-shop">
                                    <div class="bt-detail-shop">
                                        <a class="title" href=""> {{product.nome}}  </a>
                                        <p class="shop-price"> {{product.preco | currency : "$"}} </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 bt-content-shop">
                                    <a class="btn btn-lg btn-primary" href="" ng-click="carrinho.adicionarProduto(product.idProduto, product.nome, product.foto, product.preco, 1)">
                                       <i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 bt-content-shop">
                                    <a class="btn btn-lg btn-primary pull-right" ui-sref="detalhes_loja({codigoProduto: product.idProduto})"><i class="fa fa-list"></i>Detalhes</a>
                                </div>
                                <div class="clear"></div>
                          </li> 
                      </ul>  
                      <!--Pagination-->
                      <div class="col-md-12 store-cart-content">
                        <div class="store-cart-footer store-down-bottom">
                                     <ul>
                                       <li>
                                         <button class="btn btn-lg btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                            Anterior
                                        </button>
                                       </li>
                                       <li>
                                        <p class="number-page">{{currentPage + 1}}/{{numberOfPages}}</p>
                                       </li>
                                       <li>
                                        <button class="btn btn-lg btn-primary" ng-disabled="currentPage >= store.products.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                            Próxima
                                        </button>
                                       </li>
                                    </ul>
                          </div>
                    </div>                   
                </div>
    </div>
</div>
<!-- /.container -->

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.skillbar').each(function () {
            jQuery(this).find('.skillbar-bar').animate({
                width: jQuery(this).attr('data-percent')
            }, 1400);
        });
    });
</script>

<!-- Filter Images-->
<script type="text/javascript">
    $('.filter li').on('click', function () {
        $('li').removeClass('active');
        $(this).addClass('active');
    });
</script>