﻿


html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway',sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height:22px;
	color: #232323;
	background-color: #fff;
	
}
header {
    position: relative;
    width: 100%;
    text-align: center;
    height: 800px;
    padding: 80px 0 0 0;
    margin: 0 0 25px 0;
    float: left;
    background: url(backimg.jpg) center top no-repeat;
}
.logo-content {
	width: 100%;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
}
header .logo-content a {
    font-family: 'Open sans', sans-serif;
    text-align: center;
    padding: 15px 40px;
    font-weight: 400;
    margin: 0px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1adede;
    border-radius: 2px;
    
}
img {
	max-width: 100%;
	border: 1px solid #ddd;
}
.logo-content img {
	margin: 0 auto;
	text-align: center;
	border: 0px;
}
.cc-logo {
	width: 100%;
}
.logo-content p {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 60px;
}
.content-img {
	padding-bottom: 100px;
}
h3{
	margin-top: 0px;
	font-family: 'Open sans',sans-serif;
	font-weight: 300;
	color: #111;
	font-size: 28px;
	margin-bottom: 40px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 60px;
}
.second-img {
	margin-top: 50px;
	margin-bottom: 50px;
}
.thumb-img {
	position: relative;
    width: 100%;
    padding: 0px;
    margin: 0 0 10px 0;
    z-index: 2;
}
.template-html img {
	background: #111;
}
.template-html .overley {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0;
    left: 0px;
    top: 0px;
    opacity: 0;
    z-index: 3;
    transition: all 0.3s ease-out 0s;
    background: url(transparent_bg3.png) 0 0 repeat;
}
.link-template {
	margin-top: 40px;
}
.c-img:hover .overley{
	opacity:1;
	}
.link-template a {
	font-family: 'Open sans',sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #111;
	text-decoration: none;
	margin-top: 10px;
	border-top: 1px solid #ccc;
	padding: 5px 10px;
}
.template-html {
	text-align: center;
}
.template-html a span {
	color: #bf1717;
	font-size: 11px;
}
.template-html a:hover {
	color: #111;
	border-top: 1px solid #1adede;
}
.content-bt {
	margin-top: 30px;
}

.second {
	margin-top: 250px;
	margin-bottom: 200px;
}
.logo-angu {
	margin-top: 40px;
	margin-bottom: 30px;
}
.news span {
	border: #fff;
	color: #fff;
	background:#bf1717;
	padding: 5px;
}
.nb {
	font-size: 14px;
}