<div class="col-xs-12" ng-repeat="erro in listaErros">
	<div class="alert alert-danger">
	  <strong>{{erro}}</strong>
	</div>
</div>

<div class="form-group">
  <label for="nome" class="col-sm-2 control-label">Nome</label>
  <div class="col-sm-10">
    <input type="text" ng-model="produto.nome" required ng-required="{ boolean }" class="form-control" id="nome" placeholder="Nome do Produto"/>
  </div>
</div>
<div class="form-group">
  <label for="preco" class="col-sm-2 control-label">Preço</label>
  <div class="col-sm-10">
    <input type="text" ng-model="produto.preco" class="form-control" id="preco" placeholder="Preço"/>
  </div>
</div>

<div class="form-group">
  <label for="categoria" class="col-sm-2 control-label">Categoria</label>
  <div class="col-sm-10">
    <div class="input-group-btn">
        <input type="text" ng-model="produto.categoria" class="form-control dropdown-toggle readonly" data-toggle="dropdown" id="categoria" placeholder="Categoria"/>
        <div id="categoria-dropdown-menu" class="dropdown-menu dropdown-menu-left">
             <li ng-repeat="categoria in categorias" class="input-lg"><a href="#" ng-click="produto.categoria = categoria">{{categoria}}</a></li>
        </div>
       </div>
     </div>
  </div>
</div>

<div class="form-group">
  <label for="fornecedor" class="col-sm-2 control-label">Fornecedor</label>
  <div class="col-sm-10">
    <input type="text" ng-model="produto.fornecedor" class="form-control" id="fornecedor" placeholder="Fornecedor"/>
  </div>
</div>
<div class="form-group">
  <label for="estoque" class="col-sm-2 control-label">Estoque</label>
  <div class="col-sm-10">
    <input type="text" ng-model="produto.estoque" class="form-control" id="estoque" placeholder="Quantidade em Estoque"/>
  </div>
</div>
<div class="form-group">
  <label for="peso" class="col-sm-2 control-label">Peso</label>
  <div class="col-sm-10">
    <input type="text" ng-model="produto.peso" class="form-control" id="peso" placeholder="Peso"/>
  </div>
</div>
<div class="form-group">
  <label for="ncm" class="col-sm-2 control-label">NCM</label>
  <div class="col-sm-10">
    <input type="text" ng-model="produto.ncm" class="form-control" id="ncm" placeholder="NCM?"/>
  </div>
</div>
<div class="form-group">
  <label for="descricao" class="col-sm-2 control-label">Descrição</label>
  <div class="col-sm-10">
    <textarea ng-model="produto.descricao" class="form-control" id="descricao" placeholder="Descrição"></textarea>
  </div>
</div>
<div class="form-group">
	<label for="foto" class="col-sm-2 control-label">Foto do Produto</label>
	<input type='file' ng-model='produto.foto' base-sixty-four-input>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Cadastrar"/>
  </div>
</div>