<div class="breadcrumb-color meet-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li><a href="/admin/produtos">Produtos</a></li>
                    <li class="active">Editar</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div class="container">
	<form class="form-horizontal" role="form" ng-submit="atualizar()">
	  <div ng-include="'views/admin/produtos/_form.html'"></div>
	</form>
</div>