<div class="breadcrumb-color meet-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Produtos</li>
                </ol>
            </div>
        </div>
      </div>
</div>

<div class="container">

<div class="col-xs-12">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Estoque</th>
            <th>Preço</th>
            <th>NPM</th>
            <th>Categoria</th>
            <th></th>
          </tr>
        </thead>  

        <tbody>
          <tr ng-repeat="produto in produtos">
              <td><a ui-sref="visualizarProduto({id:produto.idProduto})">{{produto.nome}}</a></td>
              <td>{{produto.estoque}}</td>
              <td>{{produto.preco | currency : "R$"}}</td>
              <td>{{produto.ncm}}</td>
              <td>{{produto.categoria}}</td>
              <td>
                <a class="btn btn-primary" ui-sref="editarProduto({id: produto.idProduto})">Editar</a>
                <a class="btn btn-danger"  ng-click="remover(produto)">Desativar</a>
              </td>
          </tr>
        </tbody>
    </table>   
  </div>   

    <div class="col-xs-12">
      <a ui-sref="cadastrarProduto" class="btn btn-primary btn-lg">Cadastrar Produto</a>
    </div>        
</div>

<!-- /.container -->
