<div class="container">
	<table class="table movietable">
	  <tr>
	    <td><h3>Detalhes do Produto {{produto.nome}}</h3></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Preço</td>
	    <td>{{produto.preco}}</td>
	  </tr>
	  <tr>
	    <td>NCM</td>
	    <td>{{produto.ncm}}</td>
	  </tr>
	  <tr>
	    <td>Estoque</td>
	    <td>{{produto.estoque}}</td>
	  </tr>
	  <tr>
	    <td>Descrição</td>
	    <td>{{produto.descricao}}</td>
	  </tr>
	</table>
<div>
  <a class="btn btn-primary" ui-sref="editarProduto({id:produto.idProduto})">Editar</a>
</div>
</div>