<footer>
    
    <div class="container top-footer-in">
        <div class="row">
           <div class="col-lg-3 col-md-3 col-sm-3">
             <h4>Principal</h4>
             <ul class="footer-menu"> 
                 <li><a href="#/">Pagina Inicial</a></li> 
                 <li><a href="#/quem_somos">Conheça a Equipe</a></li> 
                 <li><a href="#/produtos">Produtos</a></li> 
                 <li><a href="#/carrinho">Carrinho</a></li>              </ul>
           </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
             <h4>Links Uteis</h4>
             <ul class="footer-menu"> 
                 <li><a href="#">Suporte</a></li> 
                 <li><a href="#">Politica de Privacidade</a></li> 
                 <li><a href="#">Termos de Uso</a></li> 
                 <li><a href="#">FAQ</a></li> 
                 <li><a href="#">Ajuda</a></li> 
             </ul>
           </div>
        </div>
        
    </div>
    <div class="info-footer">
        <div class="container">
            <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                         <div class="col-sm-4"><span class="ic-fo icon-phone"></span><span> +55 (11) 98797-7991</span></div>
                         <div class="col-sm-4"><span class="ic-fo icon-envelope"></span><span> pauloesporto@gmail.com</span></div>
                       </div>
                    </div>
            </div>
        </div>
    </div>
</footer>
