<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<!-- LOGO -->
	<div class="navbar-header">
		<a class="navbar-brand" href="#/"> <img
			src="images/store/logo.jpg" alt="logo" />
		</a>
	</div>

	<!-- MENU -->
	<button type="button" class="navbar-toggle" data-toggle="collapse"
		data-target="#menu-ecommerce">
		<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
		<span class="icon-bar"></span> <span class="icon-bar"></span>
	</button>

	<div class="collapse" id="menu-ecommerce">
		<ul class="nav navbar-nav navbar-toggle" aria-expanded="false">
			<p>{{usuario.nome}}</p>
			<li><a href="#/produtos">Vitrine</a></li>
			<li><a href="#/carrinho">Carrinho</a></li>
			<li><a href="#/quem_somos">Conheça a Equipe</a></li>
			<li><a href="#/login" ng-controller="LoginController"
				ng-show="!isLogado()">Login</a></li>
			<li><a ui-sref="editarCliente({id: usuario.id})">Perfil</a></li>
			<li><a href="#/carrinho">Visualizar Carrinho</a></li>
		</ul>
	</div>


	<div class="collapse navbar-collapse navbar-center" style="width:auto;white-space: nowrap;">
		<ul class="nav navbar-nav">
			<p>{{usuario.nome}}</p>
			<li><a href="#/produtos">Vitrine</a></li>
			<li><a href="#/carrinho">Carrinho</a></li>
			<li><a href="#/quem_somos">Conheça a Equipe</a></li>
			<li><a href="#/login" ng-controller="LoginController"
				ng-show="!isLogado()">Login</a></li>
			<li class="dropdown"><a class="dropdown-toggle"
				ng-controller="LoginController" ng-show="isLogado()"
				data-toggle="dropdown">Usuario <b class="caret"></b></a>
				<ul class="dropdown-menu vertical-li">
					<li><a ui-sref="editarCliente({id: usuario.id})">Perfil</a></li>
					<li><a ui-sref="pedidosCliente">Meus Pedidos</a></li>
					<li><a ng-controller="LoginController" ng-click="logout()">Sair</a></li>
				</ul>
			</li>
               <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" ng-controller="LoginController" ng-show="IsAdmin()">Administrativo<b class="caret"></b></a>
                  <ul class="dropdown-menu vertical-li">
                        <li><a ui-sref="produtos">Produtos</a></li>
                        <li><a ui-sref="pedidos">Pedidos</a></li>
                        <li><a ui-sref="clientes">Clientes</a></li>
                  </ul>
                </li>

			<!-- CART -->
			<li>
				<div class="content-count-cart-header dropdown" ng-controller="produtosController">
				   <a href="" title="go to shopping cart" class="dropdown-toggle" data-toggle="dropdown" ng-disabled="carrinho.getQuantidadeTotal() < 1">
				      <i class="fa fa-shopping-cart"></i>
						<p class="number-prod-cart">{{carrinho.getQuantidadeTotal()}}</p>
				   </a>
				   <div class="dropdown-menu vertical-li dropdown-prod-cart">
				      <ul>
						  <li ng-repeat="produto in carrinho.produtos | orderBy:'nome'">
						     <div class="row">
							    <div class="col-md-12 minitotal-prod">
							    	<div class="col-md-6">
							    		<img ng-show="possuiFoto(produto)" style="width:100px; height: 100px"
										ng-src="data:image/png;base64,{{produto.foto}}"
										alt="{{produto.nome}}" />
										
									<img style="width:100px; height: 100px" ng-show="!possuiFoto(produto)" src="images/store/product/notFound.gif">
							    	</div>
									<div class="col-md-6 minicart-data">
										<p class="mc-name">{{produto.nome}}</p>
										<p>{{produto.quantidade}} X {{produto.preco | currency}}</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div id="cartInfo">
		 				<p class="minucart-price">Subtotal {{carrinho.getValorTotal() | currency}}</p>
					</div>
					<a href="#/carrinho" id="goToCheckOut">Visualizar Carrinho</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</nav>
